.modal-body {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
}
.progress {
  transform: rotate(-90deg);
  margin: 50px 0;
}
.progress-container {
  display: grid;
}
.modal-container {
  display: none;
}
